
#m-temp {
height: 200px;
width: 200px;
float: left; 
margin-left: 10px;
margin-right: 20px;
}


#v-temp {
    height: 170px;
    width: 170px;
    margin-bottom: 20px;
    margin-right: 20px;

    }